services:
  virtualis-congress-v3-db:
    build:
      context: ./database
      platforms:
        - linux/arm64
      tags:
        - hiddenberg/virtualis-congress-v3-db:latest
    image: hiddenberg/virtualis-congress-v3-db:latest
    volumes:
      - ./database/:/db/
    networks:
      - proxynetwork
    restart: always

  virtualis-congress-v3:
    build:
      context: ./application
      platforms:
        - linux/arm64
      tags:
        - hiddenberg/virtualis-congress-v3:latest
    image: hiddenberg/virtualis-congress-v3:latest
    networks:
      - proxynetwork
    restart: always

networks:
  proxynetwork:
    external: true