services:
  virtualis-congress-v3-db:
    build:
      context: ./database
      platforms:
        - linux/arm64
    volumes:
      - ./database/:/db/
    networks:
      - proxynetwork
    restart: always

  virtualis-congress-v3:
    build:
      context: ./application
      platforms:
        - linux/arm64
    networks:
      - proxynetwork
    restart: always

networks:
  proxynetwork:
    external: true